/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.title-heading {
  margin-bottom: 0;
  text-transform: uppercase; }

.background-mobile {
  width: 100%;
  opacity: .8; }

nav ul {
  text-align: center;
  list-style: none;
  padding: 1rem 0 4rem 0;
  border-bottom: solid lightgrey 1px; }

nav li {
  font-size: 1.2rem;
  padding: .8rem; }

nav a {
  color: #242424;
  border-bottom: 1px solid #242424;
  text-decoration: none; }

* {
  box-sizing: border-box; }

body, html {
  background-color: white;
  color: #242424;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin: 0; }

h1 {
  font-weight: 400;
  font-size: 1.3rem; }

h2 {
  font-weight: 400;
  font-size: 1.1rem;
  margin: 0; }

header {
  margin: 1rem; }

section {
  margin: 3rem 1rem;
  border-bottom: solid lightgrey 1px; }

.about-intro {
  text-align: center;
  line-height: 1.5;
  max-width: 50%;
  margin: 3rem auto;
  font-style: oblique; }

.cv-list {
  margin: 1rem 0 2rem 0;
  line-height: 1.5rem; }

.work-card {
  border: solid lightgrey 1px;
  margin: 1rem 0 2rem 0; }
  .work-card img {
    width: 100%;
    height: 150px; }

#contact {
  border-bottom: none; }

.contact-list {
  width: 100%; }
  .contact-list ul {
    list-style: none;
    padding: 1rem 0 4rem 0; }
  .contact-list li {
    font-size: 1.2rem;
    padding: .8rem;
    text-align: center; }
  .contact-list a {
    color: #242424;
    border-bottom: 1px solid #242424;
    text-decoration: none; }

/* Main styles */
.text {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  animation: stroke 6s infinite linear; }

.text:nth-child(5n + 1) {
  stroke: #F2385A;
  animation-delay: -1.2s; }

.text:nth-child(5n + 2) {
  stroke: #F5A503;
  animation-delay: -2.4s; }

.text:nth-child(5n + 3) {
  stroke: #E9F1DF;
  animation-delay: -3.6s; }

.text:nth-child(5n + 4) {
  stroke: #56D9CD;
  animation-delay: -4.8s; }

.text:nth-child(5n + 5) {
  stroke: #3AA1BF;
  animation-delay: -6s; }

@keyframes stroke {
  100% {
    stroke-dashoffset: -400; } }

/* Other styles */
html, body {
  height: 100%; }

body {
  background: #212121;
  background-size: .2em 100%;
  font: 14.5em/1 Open Sans, Impact;
  text-transform: uppercase;
  margin: 0; }

svg {
  position: absolute;
  width: 100%;
  height: 100%; }
