.containerForm{
 display: flex;
 flex-direction:column;
 justify-content: space-around; 
 height: 80vh;
 padding:5%
}


.who{
    text-align: center;
    margin-bottom: 2rem;


}
.who h1{
    padding:3rem;
}


input{
	 width: 100%;
	 margin-bottom: 1.7rem;
	 border:none;
	 font-size:1rem;
	 height: 2rem;
	 font-weight: 300;
	 padding-left: .5rem;
	 border:none; 
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: '';
    width: 100%;
 	border:none;
 	border-radius: 0px;
 	line-height: 1.2rem;
    background-color: white;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 300;
    height: 2rem;
    padding-left: .5rem;
}

fieldset{
	border:none;
}

//Placeholder text color change
*::-webkit-input-placeholder {
  color: #ED4343; }

*:-moz-placeholder {
  color: #ED4343; }

*:-ms-input-placeholder {
  color: #ED4343; }

  
.button{
    background-color: #ED4343;
    color:white;
    height: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-size:1rem;
}
