.container2{
 display: flex;
 flex-direction:column;
 justify-content: space-around; 

line-height:1.5;
 

}



.encounter{
height: 30vh;
}

.addhere{

}

.bottomband{
height:30vh;
background-color:black;
margin-bottom:0%
}


.addhere {
	color:black;
	height: 40vh;
}



.bottomP3{
	height:30vh;
	background-color: black;
	display:flex;
	 flex-direction:column;
 	justify-content: center; 
}

.buttonP3{
	background-color:#ED4343;
	display: block;
	text-align: center;
	width:100%;
	margin-left: 2%;
	margin-right:2%;

}