.wrapper3{
	height: 100%
}

.flex3{
	 display: flex;
	 background-color: white;
	 flex-direction: column;
	 justify-content: space-between; 
	 height: 100vh;
}

.flex3 h1{
	color:black;
}

span{
	font-size:1rem;
}

.addhere {
	color:black;
	overflow: scroll;
	flex:8;
	-webkit-box-flex: 1;
	max-height: 70vh;
	
}
.bottomP3{
	background-color: black;
	display:flex;
	flex-direction:column;
 	justify-content: center;
 	padding:2rem; 
 	margin:0%;
 	flex:1;
 	align-self:flex-end;
 	width:100%

}

.buttonP3{
	background-color:#ED4343;
	text-align: center;
	width:100%;
	margin-left: 2%;
	margin-right:2%;
	font-size: 1rem;
	padding:1rem;
	margin-bottom: 0%
}





