
.title-heading{
  margin-bottom: 0;
  text-transform: uppercase;
}
.background-mobile{
  width:100%;
  opacity:.8;
}

nav{
  ul{
  	text-align:center;
    list-style: none; 
    padding:1rem 0 4rem 0;
    border-bottom:solid lightgrey 1px
  }
  li{
    font-size: 1.2rem;
    padding:.8rem;
  }
  a{
    color: #242424;
    border-bottom:1px solid #242424;
    text-decoration:none;
  }

}


