@import"reset";
@import"customselect";
@import"mainpage";
@import"checkin";
@import"encounters";
@import"report";
@import"animations";

*{
box-sizing:border-box;
}

body {
	background-color: black;
	color:white;
	font-family: "raleway", serif;
	font-size: 18px;
}

h1{
	font-size: 2rem;
	text-align:center;
	font-weight: 700;	
}

h2{
	font-size: 1.8rem;
	text-align: center;
	font-weight: 400;
}

a {
	color: white;
	text-decoration: none;
}

.change{
  border:8px solid red;
}

.encounter{
	background-color: white;
	color: black;
}

.button{
	background-color: #ED4343;
	color:white;
	height: 1rem;
	padding-top: 1rem;
	padding-bottom: 2rem;
	font-size:1rem;
}

.bottom {
	display:flex;
	background-color: black;
	background: cover;
	align-self: flex-end;
	width: 100%
}