
<div class="wrapper4">	
	<div  class= "containerReport">
	<!-- 	<div class="heading"> -->
			<h1> Report Encounter</br><span>Saftey on Mars is your responsibility</span></h1>
			<form novalidate name="myForm2" ng-submit="expression" ng-class="{'show-validation': showValidation}"  ng-submit="submit()">
				 <select name="alien"  ng-model="alien" ng-class="{'placeholder':!alien}" required>
					<option value="" class="placeholder">Select Alien Type</option>
					<option value="{{alien}}" ng-repeat="alien in aliens">{{alien}} </option>
				</select>
				  	<textarea name="Text1" placeholder="Action Taken" cols="40" rows="9" ng-model="action" required></textarea>  
			</form>
			<div>
		 			<input type="submit" class="button"  id="checkin" value="Submit Report" ng-click="submitReport($event, myForm2)" />
		 		</div>
		
		</div>
	</div>
</div>
